In [1]:
import pandas as pd
import numpy as np

In [2]:
player_2017_2018 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/NBA-2017-2018-Player-BoxScore-Dataset.xlsx')

In [3]:
#rename colums so the column names are on continuous string
player_2017_2018 = player_2017_2018.rename(index=str, columns={'DATA SET':'DATASET','PLAYER FULL NAME':'PLAYER','OWN TEAM':'TEAM','OPP TEAM':'OPPONENT','VENUE (R/H)':'ROAD_HOME','MIN':'MINUTES'})
player_2017_2018.shape

(27833, 23)

In [ ]:
#create DF of all the individual game stats for all boston players
boston_players = pd.DataFrame(player_2017_2018.loc[lambda df: player_2017_2018.TEAM == 'Boston'])
boston_players.shape

In [ ]:
boston_players.head()

In [ ]:
#create column of all zeros - this column will be the double-double bonus
boston_players['DT_Double'] = pd.Series(np.zeros(boston_players.shape[0]))
boston_players.DT_Double.fillna(value=0.0,inplace=True)

In [ ]:
#This counts the number of categories the player had more than 10
#This takes a long time, consider rewriting
categories = ['PTS', 'TOT', 'A', 'BL', 'ST']
for cat in categories:
    for i,x in enumerate(boston_players[cat]):
        if x >=10:
            boston_players['DT_Double'][i] += 1

In [ ]:
#This adjusts the 'DT_Double column to the appropriate multiplier
#This takes a long time, consider rewriting
for i,x in enumerate(boston_players['DT_Double']):
    if x == 1 or x == 2:
        boston_players['DT_Double'][i] -= 1

In [ ]:
#create column of draftkings points
boston_players['DraftKings_PTS'] = boston_players['PTS'] + (boston_players['3P'] * 0.5) + (boston_players['TOT'] * 1.25) + (boston_players['A'] * 1.5) + (boston_players['ST'] * 2) + (boston_players['BL'] * 2) - (boston_players['TO'] * 0.5) + (boston_players['DT_Double'] * 1.5)

In [ ]:
boston_players.head(20)

In [12]:
player_2017_2018.head()

,DATASET,DATE,PLAYER,POSITION,TEAM,OPPONENT,ROAD_HOME,MINUTES,FG,FGA,...,DR,TOT,A,PF,ST,TO,BL,PTS,DT_Double,DraftKings_PTS
0,2017-2018 Regular Season,10/17/2017,Gordon Hayward,SF,Boston,Cleveland,R,5.25,1,2,...,1,1,0,1,0,0,0,2,0.0,3.25
1,2017-2018 Regular Season,10/17/2017,Jayson Tatum,SF,Boston,Cleveland,R,36.53,5,12,...,6,10,3,4,0,1,0,14,1.0,32.50
2,2017-2018 Regular Season,10/17/2017,Al Horford,C,Boston,Cleveland,R,32.12,2,7,...,7,7,5,2,0,0,1,9,0.0,27.25
3,2017-2018 Regular Season,10/17/2017,Jaylen Brown,SF,Boston,Cleveland,R,39.60,11,23,...,5,6,0,5,2,3,0,25,0.0,36.00
4,2017-2018 Regular Season,10/17/2017,Kyrie Irving,PG,Boston,Cleveland,R,39.35,8,17,...,2,4,10,4,3,2,0,22,1.0,50.50

In [5]:
#create column of all zeros - this column will be the double-double bonus
player_2017_2018['DT_Double'] = pd.Series(np.zeros(player_2017_2018.shape[0]))
player_2017_2018.DT_Double.fillna(value=0.0,inplace=True)

In [7]:
#This counts the number of categories the player had more than 10
#This takes a long time, consider rewriting
categories = ['PTS', 'TOT', 'A', 'BL', 'ST']
for cat in categories:
    for i,x in enumerate(player_2017_2018[cat]):
        if x >=10:
            player_2017_2018['DT_Double'][i] += 1

/Users/willhall/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [9]:
#This adjusts the 'DT_Double column to the appropriate multiplier
#This takes a long time, consider rewriting
for i,x in enumerate(player_2017_2018['DT_Double']):
    if x == 1 or x == 2:
        player_2017_2018['DT_Double'][i] -= 1

/Users/willhall/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [11]:
#create column of draftkings points
player_2017_2018['DraftKings_PTS'] = player_2017_2018['PTS'] + (player_2017_2018['3P'] * 0.5) + (player_2017_2018['TOT'] * 1.25) + (player_2017_2018['A'] * 1.5) + (player_2017_2018['ST'] * 2) + (player_2017_2018['BL'] * 2) - (player_2017_2018['TO'] * 0.5) + (player_2017_2018['DT_Double'] * 1.5)

In [13]:
player_2017_2018.to_pickle('player_2017_2018_w_hand_calc_DKPTS.pkl')