In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
team_2015_2016 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/2015-2016_NBA_Box_Score_Team-Stats.xlsx')
team_2016_2017 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/2016-2017_NBA_Box_Score_Team-Stats.xlsx')
team_2017_2018 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/2017-2018_NBA_Box_Score_Team-Stats.xlsx')
player_2015_2016 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/NBA-2015-2016-Player-BoxScore-Dataset.xlsx')
player_2016_2017 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/NBA-2016-2017-Player-BoxScore-Dataset.xlsx')
player_2017_2018 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/NBA-2017-2018-Player-BoxScore-Dataset.xlsx')
DFS_2016_2017 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/NBA-2016-2017-DFS-Dataset.xlsx')
DFS_2017_2018 = pd.read_excel('/Users/willhall/Desktop/python_projects/DraftKings/NBA-2017-2018-DFS-Dataset.xlsx')

In [4]:
DFS = pd.concat([DFS_2016_2017,DFS_2017_2018])
DFS = DFS.rename(index=str, columns={'VENUE\nR/H':'ROAD_HOME','USAGE \nRATE (%)':'USAGE','POSITION': 'DK_POS','Unnamed: 9':'FD_POS', 'Unnamed: 10':'YH_POS',
       'SALARY ($)':'DK_SAL', 'Unnamed: 12':'FD_SAL', 'Unnamed: 13':'YH_SAL', 'FANTASY POINTS SCORED':'DK_PTS',
       'Unnamed: 15':'FD_PTS', 'Unnamed: 16':'YH_PTS'})
DFS.drop(['YH_POS', 'YH_SAL','YH_PTS','FD_POS','FD_SAL','FD_PTS'], axis=1,inplace=True)
DFS.drop(DFS.index[0],inplace=True)
DFS = DFS.reset_index(drop=True)

In [67]:
DFS.head()

,DATASET,DATE,PLAYER,TEAM,OPPONENT,ROAD_HOME,MINUTES,USAGE,DK_POS,DK_SAL,DK_PTS
0,2016-2017 Regular Season,10/25/2016,Carmelo Anthony,New York,Cleveland,R,30.08,32.083162,SF,7600,30.25
1,2016-2017 Regular Season,10/25/2016,Kristaps Porzingis,New York,Cleveland,R,32.80,22.684213,PF,7400,31.25
2,2016-2017 Regular Season,10/25/2016,Joakim Noah,New York,Cleveland,R,19.52,4.321646,C,5500,13.5
3,2016-2017 Regular Season,10/25/2016,Courtney Lee,New York,Cleveland,R,19.62,15.048666,SG,3700,4.75
4,2016-2017 Regular Season,10/25/2016,Derrick Rose,New York,Cleveland,R,29.58,31.199535,PG,5800,22.75

In [71]:
frames = [player_2016_2017,player_2017_2018]
ps = pd.concat(frames)
ps = ps.rename(index=str, columns={'DATA SET':'DATASET','PLAYER FULL NAME':'PLAYER','OWN TEAM':'TEAM','OPP TEAM':'OPPONENT','VENUE (R/H)':'ROAD_HOME','MIN':'MINUTES'})
ps.drop(['POSITION'], axis=1,inplace=True)
ps = ps.reset_index(drop=True)

In [72]:
ps.head()

,DATASET,DATE,PLAYER,TEAM,OPPONENT,ROAD_HOME,MINUTES,FG,FGA,3P,...,FTA,OR,DR,TOT,A,PF,ST,TO,BL,PTS
0,2016-2017 Regular Season,10/25/2016,Carmelo Anthony,New York,Cleveland,R,30.08,8,18,1,...,2,1,4,5,3,5,1,4,0,19
1,2016-2017 Regular Season,10/25/2016,Kristaps Porzingis,New York,Cleveland,R,32.80,5,13,3,...,6,4,3,7,0,5,1,2,2,16
2,2016-2017 Regular Season,10/25/2016,Joakim Noah,New York,Cleveland,R,19.52,0,1,0,...,0,1,5,6,3,1,1,1,0,0
3,2016-2017 Regular Season,10/25/2016,Courtney Lee,New York,Cleveland,R,19.62,0,5,0,...,0,1,2,3,0,1,0,2,1,0
4,2016-2017 Regular Season,10/25/2016,Derrick Rose,New York,Cleveland,R,29.58,7,17,1,...,2,2,1,3,1,1,0,4,1,17

In [73]:
team = pd.concat([team_2016_2017,team_2017_2018])
team = team.rename(index=str, columns={'TEAMS':'TEAM','REST DAYS':'REST_DAYS','OPENING SPREAD':'OPENING_SPREAD','OPENING TOTAL':'OPENING_TOTAL'})
team.drop(['DATASET','VENUE','1Q', '2Q', '3Q', '4Q', 'F','OT1','OT2', 'OT3', 'OT4','MIN','POSS', 'FG',
       'FGA', '3P', '3PA', 'FT', 'FTA', 'OR', 'DR', 'TOT', 'A', 'PF', 'ST',
       'TO', 'TO TO', 'BL','STARTING LINEUPS', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'MAIN REF', 'CREW', 'OPENING ODDS',
       'MOVEMENTS', 'CLOSING ODDS', 'MONEYLINE', 'HALFTIME', 'BOX SCORE',
       'ODDS'], axis=1,inplace=True)
team = team.reset_index(drop=True)
team = team.set_index(['DATE','TEAM'])
print(team.shape)

(5242, 7)

In [74]:
team.head()

                        PTS        PACE        OEFF        DEFF REST_DAYS  \
DATE       TEAM
10/25/2016 New York      88  100.373422   87.672611  116.564721        3+
           Cleveland    117  100.373422  116.564721   87.672611        3+
           Utah         104   92.538000  112.386263  122.111997        3+
           Portland     113   92.538000  122.111997  112.386263        3+
           San Antonio  129   98.777098  130.597074  101.238042        3+

                        OPENING_SPREAD  OPENING_TOTAL
DATE       TEAM
10/25/2016 New York                9.5          205.5
           Cleveland              -9.5          205.5
           Utah                    6.0          194.0
           Portland               -6.0          194.0
           San Antonio             8.0          210.5

In [75]:
DFSps = pd.merge(ps,DFS,how='left')

In [77]:
DFSps.shape

(55707, 26)

In [78]:
master = DFSps.join(team, on=['DATE', 'TEAM'],lsuffix='_player',rsuffix='_team')
master.shape

(55707, 33)

In [79]:
master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55707 entries, 0 to 55706
Data columns (total 33 columns):
DATASET           55707 non-null object
DATE              55707 non-null object
PLAYER            55707 non-null object
TEAM              55707 non-null object
OPPONENT          55707 non-null object
ROAD_HOME         55707 non-null object
MINUTES           55707 non-null float64
FG                55707 non-null int64
FGA               55707 non-null int64
3P                55707 non-null int64
3PA               55707 non-null int64
FT                55707 non-null int64
FTA               55707 non-null int64
OR                55707 non-null int64
DR                55707 non-null int64
TOT               55707 non-null int64
A                 55707 non-null int64
PF                55707 non-null int64
ST                55707 non-null int64
TO                55707 non-null int64
BL                55707 non-null int64
PTS_player        55707 non-null int64
USAGE             55336 non-null float64
DK_POS            54395 non-null object
DK_SAL            54395 non-null object
DK_PTS            55339 non-null object
PTS_team          55707 non-null int64
PACE              55707 non-null float64
OEFF              55707 non-null float64
DEFF              55707 non-null float64
REST_DAYS         55707 non-null object
OPENING_SPREAD    55707 non-null float64
OPENING_TOTAL     55707 non-null float64
dtypes: float64(7), int64(16), object(10)
memory usage: 14.5+ MB

In [80]:
master.head()

,DATASET,DATE,PLAYER,TEAM,OPPONENT,ROAD_HOME,MINUTES,FG,FGA,3P,...,DK_POS,DK_SAL,DK_PTS,PTS_team,PACE,OEFF,DEFF,REST_DAYS,OPENING_SPREAD,OPENING_TOTAL
0,2016-2017 Regular Season,10/25/2016,Carmelo Anthony,New York,Cleveland,R,30.08,8,18,1,...,SF,7600,30.25,88,100.373422,87.672611,116.564721,3+,9.5,205.5
1,2016-2017 Regular Season,10/25/2016,Kristaps Porzingis,New York,Cleveland,R,32.80,5,13,3,...,PF,7400,31.25,88,100.373422,87.672611,116.564721,3+,9.5,205.5
2,2016-2017 Regular Season,10/25/2016,Joakim Noah,New York,Cleveland,R,19.52,0,1,0,...,C,5500,13.5,88,100.373422,87.672611,116.564721,3+,9.5,205.5
3,2016-2017 Regular Season,10/25/2016,Courtney Lee,New York,Cleveland,R,19.62,0,5,0,...,SG,3700,4.75,88,100.373422,87.672611,116.564721,3+,9.5,205.5
4,2016-2017 Regular Season,10/25/2016,Derrick Rose,New York,Cleveland,R,29.58,7,17,1,...,PG,5800,22.75,88,100.373422,87.672611,116.564721,3+,9.5,205.5

In [81]:
master.DATASET.value_counts()

2016-2017 Regular Season    26137
2017-2018 Regular Season    26104
2017 Playoffs                1737
2018 Playoffs                1729
Name: DATASET, dtype: int64

In [50]:
individual = master[(master.DATASET == '2017-2018 Regular Season') & (master.PLAYER == 'LeBron James')]

In [82]:
individual.shape

(82, 34)